* {
  box-sizing: border-box;
}

:root {
  --primary-color-black-green: #143c3c;
  --primary-color-small-green: #e2eddf;
  --text-color-black-gray: #575d5e;
  --text-color-light-gray: #7d8188;
  --text-color-white: #fff;
  --primary-color-black: #152427;
  --primary-color-black-green: #143C3C;
  --secondary-color-gray: #6A8383;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 173px;
  line-height: 57px;
  border-radius: 40px;
  border: 1.5px solid #143c3c;
  background: var(--primary-color-black-green);
  color: var(--text-color-white);
  text-align: center;
  /* Paragraph/h2 18px medium */
  font-size: 1.8rem;
  font-weight: 500;
}

.btn:hover {
  transition: all ease 0.5s;
  border: 1px solid transparent;
  color: #143c3c;
  background-color: var(--primary-color-small-green);
}

.section-title {
  display: flex;
  gap: 21px;
  align-items: center;
  color: var(--primary-color-black);
  /* Paragraph/h4 16px medium */
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  /* 162.5% */
}

.section-title::before {
  content: "";
  margin-top: -3px;
  display: block;
  width: 25px;
  height: 1px;
  background-color: var(--primary-color-black);
}

.section-heading {
  color: var(--primary-color-black);
  /* Heading/H3 42px bold */
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2381;
  /* 123.81% */
}

.section-desc {
  color: var(--text-color-light-gray);
  /* Paragraph/h4 16px medium */
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  /* 162.5% */
}

/* Header */
.header {
  font-family: "Public Sans", sans-serif;
  margin-top: 26px;
  min-height: 760px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar::before {
  position: absolute;
  top: 90px;
  content: "";
  display: block;
  width: 1140px;
  height: 1px;
  background: linear-gradient(90deg,
      #fff 0%,
      #dddcdc 51.09%,
      rgba(212, 212, 212, 0) 99.68%);
}

.header__logo {
  width: 146.4px;
  height: 26.236px;
  flex-shrink: 0;
}

.navbar__list {
  display: flex;
  align-items: center;
  position: relative;
  gap: 38px;
  margin-left: 317px;
}

.navbar__link {
  color: var(--text-color-black-gray);
  /* Paragraph/h2 18px medium */
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.556;
  /* 155.556% */
}

.navbar__link--active::before {
  content: "";
  position: relative;
  left: 17px;
  bottom: -30px;
  display: inline-block;
  width: 16px;
  height: 2px;
  background: var(--primary-color-black-green);
}

.navbar__link:hover,
.navbar__link.navbar__link--active {
  color: var(--primary-color-black);
}

/* hero */
.hero {
  margin-top: 60px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__heading {
  width: 368px;
  color: var(--primary-color-black);
  /* Heading/H2 50px Extra bold */
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  /* 120% */
}

.hero__desc {
  width: 341px;
  margin-top: 20px;
  color: var(--text-color-black-gray);
  /* Paragraph/h2 18px medium */
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.556;
  /* 155.556% */
}

.hero__action {
  display: flex;
  gap: 36px;
  align-items: center;
  position: relative;
  margin-top: 42px;
}

.hero__play {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__play--around {
  border: 4px solid var(--primary-color-black-green);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
  transition: all ease-in 0.5s;
}

.hero__play--button {
  color: #83a17d;
  padding: 3px;
  transform: rotate(45deg);
  transition: all ease-in 0.5s;
}

.hero__play--desc {
  color: #152427;
  text-align: center;
  /* Paragraph/h3 18px bold */
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667;
  /* 166.667% */
}

.hero__play:hover .hero__play--around {
  transform: rotate(135deg);
  border-color: #83a17d;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.hero__play:hover .hero__play--button {
  transform: rotate(-135deg);
}

.hero__media {
  position: relative;
  width: 56.7%;
}

.hero__images {
  display: flex;
  gap: 20px;
  z-index: 1;
}

.hero__img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

.hero__img:nth-child(2) {
  margin-top: 77px;
}

.hero__background {
  z-index: -1;
  position: absolute;
  bottom: 70px;
  left: 170px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero__vector-up,
.hero__vector-down,
.hero__blur-up,
.hero__blur-down {
  position: absolute;
}

.hero__vector-up {
  top: -28px;
  left: -172px;
  stroke-width: 1px;
}

.hero__blur-up {
  top: -5px;
  left: -200px;
  width: 72.033px;
  height: 72px;
  transform: rotate(9.392deg);
  /* flex-shrink: 0; */
  z-index: 1;
}

.hero__vector-down {
  bottom: -62px;
  transform: rotate(4.95deg);
  left: 45px;
}

.hero__blur-down {
  bottom: -37px;
  right: 11px;
  z-index: 1;
}

/* Brand */
.brand {
  margin: 42px 0 106px;
}

.brand__content {
  display: flex;
  padding: 0 121px;
  width: 1140px;
  height: 201px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100.5px;
  background: var(--primary-color-small-green);
}

.brand__img--agworld {
  display: flex;
  align-items: center;
  gap: 11px;
}

.brand__img--agworld-name {
  color: #163c35;
  font-size: 2rem;
  font-weight: 400;
}

/* Service */
.service {
  padding-bottom: 100px;
}

.service__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.service__heading {
  width: 45.6%;
}

.service__heading::after {
  content: "";
  position: relative;
  bottom: 9px;
  left: 10px;
  display: inline-block;
  width: 66px;
  height: 2px;
  background-color: var(--primary-color-black);
}

.service__action {
  margin-right: 70px;
  display: flex;
  gap: 17px;
  align-items: center;
}

.service__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid transparent;
  color: var(--text-color-white);
  background-color: var(--primary-color-black-green);
  transition: all ease 0.5s;
}

.service__btn-next--svg {
  transform: rotate(180deg);
}

.service__btn:hover {
  color: var(--primary-color-black-green);
  background-color: var(--primary-color-small-green);
  cursor: pointer;
}

.service__list {
  margin-top: 76px;
  display: flex;
  gap: 16px;
}

.service__item {
  width: 32.5%;
}

.service__item--img {
  width: 100%;
  height: 318px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.service__item--heading {
  margin-top: 24px;
  color: var(--primary-color-black);
  /* Heading/h1 22px semibold */
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  /* 100% */
}

.service__item--desc {
  padding: 18px 0 18px 0;
  max-width: 268px;
  color: var(--text-color-light-gray);
  /* Paragraph/h6 14x medium */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.714;
  /* 171.429% */
}

.service__item:hover {
  border-radius: 20px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  transition: all ease 0.5s;
}

.service__item:hover .service__item--content {
  margin-left: 23px;
  transition: all ease 0.5s;
}

.service__item:hover .service__item--img {
  transition: all ease 0.5s;
  transform: scale(0.9);
}

/* Introduce */
.introduce {
  margin: 50px 0 50px;
}

.introduce__inner {
  display: flex;
  justify-content: space-between;
}

.introduce__media {
  position: relative;
  width: 51.8%;
}

.introduce__background,
.introduce__img--svg,
.introduce__img--blur {
  position: absolute;
}

.introduce__background {
  z-index: -1;
  position: absolute;
  bottom: 149px;
  left: 223px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(170px);
}

.introduce__img--svg {
  left: 46px;
  top: 19px;
  transform: rotate(12.645deg);
}

.introduce__img--blur {
  left: 46px;
  top: -18px;
  transform: rotate(176.985deg);
}

.introduce__images {
  margin-top: 13px;
  display: flex;
  gap: 21px;
}

.introduce__img {
  width: 284px;
  height: 480px;
  border-radius: 210px;
  object-fit: cover;
}

.introduce__img:last-child {
  opacity: 0.8;
}

.introduce__img:first-child {
  margin-top: 77px;
}

.introduce__content {
  width: 42.5%;
}

.introduce__heading {
  margin: 20px 0 11px;
}

.introduce__desc {
  display: flex;
  gap: 24px;
  margin-top: 36px;
  padding-bottom: 20px;
  border-bottom: 1px solid #83a17d;
  color: var(--text-color-light-gray);
  /* Paragraph/h6 14px medium */
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.714;
  /* 171.429% */
}

.introduce__desc--number {
  color: var(--primary-color-black);
  /* Heading/H3 42px bold */
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.24;
  /* 123.81% */
}

.introduce__summary {
  position: absolute;
  bottom: 8px;
  right: -9px;
  width: 143px;
  height: 144px;
  border-radius: 8px;
  background-color: var(--text-color-white);
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.introduce__summary--content {
  padding: 19px 20px 11px;
}

.summary__heading {
  color: var(--primary-color-black);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  /* 100% */
}

.summary__desc {
  margin-top: 6px;
  color: var(--text-color-black-gray);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  /* 140% */
}

.summary__title {
  margin-top: 10px;
  color: var(--primary-color-black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  /* 140% */
}

.summary__title:nth-of-type(2) {
  text-align: right;
  margin-top: 3px;
}

.summary__vector {
  position: relative;
  margin-top: 3px;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.summary__vector::before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}

.summary__teams {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary__teams--title {
  margin-top: 0;
}

.summary__avatar {
  margin-left: -10px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.summary__avatar:first-child {
  margin-left: 0;
}

/* Process */
.process {
  padding: 29px 0 50px;
}

.process__title {
  margin-top: 36px;
}

.process__item--left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.process__heading {
  margin: 20px 0 81px;
  max-width: 477px;
}

.process__heading::after {
  content: "";
  position: relative;
  bottom: 9px;
  left: 10px;
  display: inline-block;
  width: 66px;
  height: 2px;
  background-color: var(--primary-color-black);
}

.process__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 185px;
  padding: 50px 0 21px;
  border-bottom: 1px solid #83A17D;
  transition: all ease 0.5s;
}

.process__item:hover {
  padding: 50px 0 50px;
  border: none;
  border-radius: 33px;
  background: var(--seconder-color-light-green, #E2EDDF);

}

.process__item--link {
  display: none;
  text-decoration: underline;
  margin-top: 22px;
  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  /* 100% */
}

.process__item:hover .process__item--link {
  display: block;
}

.process__item:hover .process__item--mid {
  padding-top: 45px;
}

.process__item--img {
  position: absolute;
  display: none;
  right: 0;
  bottom: 0;
  width: 450px;
  height: 444px;
  object-fit: cover;
}

.process__item:hover .process__item--img {
  display: block;
}

.process__item--number {
  color: var(--primary-color-black-green);
  /* Heading/H1 72px bold */
  margin-left: 30px;
  min-width: 109px;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 52px;
  /* 72.222% */
}

.process__item--title {
  color: var(--primary-color-black);
  /* Heading/h1 22px semibold */
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  /* 100% */
}

.process__item--desc {
  width: 50.2%;
  color: var(--text-color-light-gray);
  /* Paragraph/h2 18px medium */
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.56;
  /* 155.556% */
}

.process__item:hover .process__item--desc {
  display: none;
}

/* Features */
.features {
  margin: 100px 0;
  min-height: 100vh;
  background-color: #143C3C;
}

.features__header {
  display: flex;
  align-items: center;
  padding: 116px 0 72px;
}

.feature__heading {
  color: #E7F9F9;
}

.feature__heading::after {
  content: "";
  position: relative;
  bottom: 9px;
  left: 10px;
  display: inline-block;
  width: 66px;
  height: 2px;
  background-color: #e7f9f9;
}

.features__content {
  padding: 10px 80px 0 0;
}

.features__desc,
.features__link--tilte {
  font-family: Public Sans;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.556;
}

.features__desc {
  color: var(--secondary-color-gray);
}

.features__link--tilte {
  color: #FFF;
  margin-right: 26px;
}

.features__link {
  display: block;
  margin-top: 13px;

}

.features__link:hover .features__link--tilte {
  text-decoration: underline;
}

.features__link:hover .features__link--point {
  transition: all ease 0.5s;
  transform: translateX(10px);
}

.features__body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.features__video {
  width: 1140px;
  height: 544px;
  border-radius: 22px;
  object-fit: cover;
}

.feature__video--btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
}

.feature__video--btn:hover {
  transition: all ease 0.5s;
  border: 1px solid rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
}

.feature__body--blur,
.feature__body--vector {
  position: absolute;
}

.feature__body--vector {
  transform: rotate(-5deg);
  top: -150px;
  right: -50px;
  stroke-width: 1px;
}

.feature__body--blur {
  top: -80px;
  right: -50px;
  transform: rotate(176.985deg);
}