* {
  box-sizing: border-box;
}
:root {
  --primary-color-black-green: #143c3c;
  --primary-color-small-green: #e2eddf;
  --text-color-black-gray: #575d5e;
  --text-color-white: #fff;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  min-width: 173px;
  line-height: 57px;
  border-radius: 40px;
  border: 1.5px solid #143c3c;
  background: var(--primary-color-black-green);
  color: var(--text-color-white);
  text-align: center;
  /* Paragraph/h2 18px medium */
  font-size: 1.8rem;
  font-weight: 500;
}
.btn:hover {
  transition: all ease 0.5s;
  border: 1px solid transparent;
  color: #143c3c;
  background-color: var(--primary-color-small-green);
}
/* Header */
.header {
  font-family: "Public Sans", sans-serif;
  margin-top: 26px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar::before {
  position: absolute;
  top: 90px;
  content: "";
  display: block;
  width: 1140px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}
.header__logo {
  width: 146.4px;
  height: 26.236px;
  flex-shrink: 0;
}
.navbar__list {
  display: flex;
  align-items: center;
  position: relative;
  gap: 38px;
  margin-left: 317px;
}
.navbar__link {
  color: var(--text-color-black-gray);
  /* Paragraph/h2 18px medium */
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.556; /* 155.556% */
}
.navbar__link--active::before {
  content: "";
  position: relative;
  left: 17px;
  bottom: -30px;
  display: inline-block;
  width: 16px;
  height: 2px;
  background: var(--primary-color-black-green);
}
.navbar__link:hover,
.navbar__link.navbar__link--active {
  color: var(--primary-color-black);
}
/* hero */
.hero {
  margin-top: 60px;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__heading {
  width: 368px;
  color: var(--primary-color-black);
  /* Heading/H2 50px Extra bold */
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2; /* 120% */
}
.hero__desc {
  width: 341px;
  margin-top: 20px;
  color: var(--text-color-black-gray);
  /* Paragraph/h2 18px medium */
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.556; /* 155.556% */
}
.hero__action {
  display: flex;
  gap: 36px;
  align-items: center;
  position: relative;
  margin-top: 42px;
}
.hero__play {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero__play--around {
  border: 4px solid var(--primary-color-black-green);
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
  transition: all ease-in 0.5s;
}
.hero__play--button {
  color: #83a17d;
  padding: 3px;
  transform: rotate(45deg);
  transition: all ease-in 0.5s;
}
.hero__play--desc {
  color: #152427;
  text-align: center;
  /* Paragraph/h3 18px bold */
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.667; /* 166.667% */
}
.hero__play:hover .hero__play--around {
  transform: rotate(135deg);
  border-color: #83a17d;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.hero__play:hover .hero__play--button {
  transform: rotate(-135deg);
}
.hero__media {
  position: relative;
  width: 56, 7%;
}
.hero__images {
  display: flex;
  gap: 20px;
  z-index: 1;
}
.hero__img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}
.hero__img:nth-child(2) {
  margin-top: 77px;
}
.hero__background {
  z-index: -1;
  position: absolute;
  bottom: 70px;
  left: 170px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(137px);
}
.hero__vector-up,
.hero__vector-down,
.hero__blur-up,
.hero__blur-down {
  position: absolute;
}
.hero__vector-up {
  top: -28px;
  left: -172px;
  stroke-width: 1px;
}
.hero__blur-up {
  top: -5px;
  left: -200px;
  width: 72.033px;
  height: 72px;
  transform: rotate(9.392deg);
  /* flex-shrink: 0; */
  z-index: 1;
}
.hero__vector-down {
  bottom: -87px;
  transform: rotate(-7.05deg);
}
.hero__blur-down {
  bottom: -15px;
  right: 35px;
  z-index: 1;
}
